@import url('https://fonts.cdnfonts.com/css/g-gion');

*{

padding: 0;
margin: 0;
border: 0;


}

img{

width: 450px;
height: 450px;

}


header{

width: 100%;
height: 150px;
background-color: #c4dfe5;
display: flex;
justify-content: space-around;
align-items: center;

}

nav{

width: 100%;
height: 150px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;


}


nav a{

font-size: 30px;
color: black ;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
text-decoration: none;
font-family: 'g Gion', sans-serif;
                                                

}

nav a:hover{

transform: scale(1);
transition: 3.0;
color: #00ccff;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 30px;
  color: black;
  padding: 10px;
  cursor: pointer;
  font-family: 'g Gion', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #c4dfe5;
  min-width: 150px;
  border-radius: 5px;
  top: 50px;
  text-align: center;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: white;
  color: #00ccff;
}

.dropdown:hover .dropdown-content {
  display: block;
}


article{

width: 100%;
height: 400px;
background-color: #b0f1f7;
  
}

#Introduccion{

font-size: 30px;
position: relative;
top: 40px;
left: 40px;
font-family: 'g Gion', sans-serif;

}

#PI{

width: 800px;
height: 500px;
display: flex;
justify-content: space-around;
align-items: center;
text-align: justify;

}

p{

font-size: 28px;
position: relative;
top: -70px;
left: 250px;
font-family: 'g Gion', sans-serif;

}

#section1{

width: 100%;
height: 600px;
background-color: #CEFAFE;
display: flex;
justify-content: space-around;
align-items: center;


}

#papeleria1{

font-size: 30px;
position: relative;
top: -200px;
left: 50px;

}


.tarje1{

width: 200px;
height: 200px;
border-radius: 50%;
position: relative;
top: 20px;
left: -130px;
transition: 0.3s;
box-shadow: 0px 4px 15px rgba(0,0,0,0.1);

}

.tarje1:hover{

transform: scale(1.3);

}

.parra1{

font-size: 25px;
top: 80px;
left: -130px;


}

#section2{

width: 100%;
height: 500px;
background-color: #CEFAFE;
display: flex;
justify-content: space-around;
align-items: center;


}

#papeleria2{

font-size: 30px;
position: relative;
top: -300px;
left: 50px;

}

.tarje2{

width: 200px;
height: 200px;
border-radius: 50%;
position: relative;
top: -50px;
left: -140px;
transition: 0.3s;
box-shadow: 0px 4px 15px rgba(0,0,0,0.1);

}

.tarje2:hover{

transform: scale(1.3);

}

.parra2{

font-size: 25px;
position: relative;
top: -10px;
left: -140px;


}


footer {
  width: 100%;
  background-color: #c4dfe5;
  color: black;
  font-family: Vegur, 'PT Sans', Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.footer-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  width: 300px;
  margin: 10px;
}

.footer-section h3 {
  color: #394cf1;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: 'g Gion', sans-serif;
}

.footer-section p, 
.footer-section a, 
.footer-section li {
  font-size: 20px;
  left: -5px;
  top: -10px;
  color: black;
  text-decoration: none;
  font-family: 'g Gion', sans-serif;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a:hover {
  color: #00ccff;
  transition: 0.3s;
}

.redes a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.redes a img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  width: 100%;
  text-align: center;
  background-color: #a0cbd8;
  padding: 10px 0;
  font-family: 'g Gion', sans-serif;
}

#footer-final{

  position: relative;
  top: 3px;
  left: 3px;
  font-size: 20px;
  
}