
@import url('https://fonts.cdnfonts.com/css/g-gion');

*{


padding: 0;
margin: 0;
border: 0;

}

body{

width: 100%;
background-image: url(../img/imprentas-diseno-grafico.jpeg);
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/imprentas-diseno-grafico.jpeg);
background-size: cover;


}


img{

width: 450px;
height: 450px;

}


header{

width: 100%;
height: 150px;
background-color: #c4dfe5;
display: flex;
justify-content: space-around;
align-items: center;

}

nav{

width: 100%;
height: 150px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;


}



nav a{

font-size: 30px;
color: black ;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
text-decoration: none;
font-family: 'g Gion', sans-serif;
                                                

}

nav a:hover{

transform: scale(1);
transition: 3.0;
color: #00ccff;

}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 30px;
  color: black;
  padding: 10px;
  cursor: pointer;
  font-family: 'g Gion', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #c4dfe5;
  min-width: 150px;
  border-radius: 5px;
  top: 50px;
  text-align: center;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: white;
  color: #00ccff;
}

.dropdown:hover .dropdown-content {
  display: block;
}


h1{

font-size: 40px;
color: white;
position: absolute;
left: 150px;
top: 350px;
font-family: 'g Gion', sans-serif;
                                                

}

h2{

font-size: 35px;
color: white;
position: relative;
left: -50px;
top: 20px;
font-family: 'g Gion', sans-serif;



}

article{

width: 100%;
height: 500px;
display: flex;
justify-content: space-around;
align-items: center;

}

#circulos3{

width: 110px;
height: 110px;
border-radius: 50%;
background-color: aqua;
display: flex;
position: absolute;
margin-left: 700px;
margin-top: 310px;
transition: 0.3s;
box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);

}

#cir3{

width: 110px;
height: 110px;
border-radius: 50%;
transition: 0.3s;


}

#circulos3:hover{

transform: scale(1.5);

}

#circulos2{

width: 150px;
height: 150px;
border-radius: 50%;
background-color: #ff004c;
position: absolute;
margin-left: 870px;
margin-top: 50px;
transition: 0.3s;
box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);

}

#cir2{

width: 150px;
height: 150px;
border-radius: 50%;
transition: 0.3s;


}

#circulos2:hover{

transform: scale(1.5);


}

#circulos1{

width: 180px;
height: 180px;
border-radius: 50%;
background-color: #ffff00;
display: flex;
position: absolute;
margin-left: 700px;
margin-top: -290px;
transition: 0.3s;
box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);

}

#cir1{

width: 180px;
height: 180px;
border-radius: 50%;
transition: 0.3s;


}

#circulos1:hover{

transform: scale(1.5);


}



#section2{

width: 100%;
height: 400px;
background-color: #CEFAFE;
display: flex;
justify-content: space-around;
align-items: center;


}

#impresora{

width: 200px;
height: 200px;
border-radius: 50%;
transition: 0.3s;

}

#impresora:hover{

transform: scale(1.2);
transition: 0.3s;

}

#impre{

font-size: 35px;
position: relative;
top: 20px;
left: 35px;
color:black;
font-family: 'g Gion', sans-serif;

}

#poloche{

font-size: 32px;
position: relative;
top: 20px;
left: 55px;
color:black;
font-family: 'g Gion', sans-serif;

}

#post{

font-size: 32px;
position: relative;
top: 20px;
left: 65px;
color: black;
font-family: 'g Gion', sans-serif;

}

#impresi{

font-size: 30px;
position: relative;
top: 20px;
left: 45px;
color: black;
font-family: 'g Gion', sans-serif;

}

#polo{

width: 200px;
height: 200px;
border-radius: 50%;
transition: 0.3s;   

}

#polo:hover{

transform: scale(1.2);
transition: 0.3s;

}

#poster{

width: 200px;
height: 200px;
border-radius: 50%;
transition: 0.3s;

}

#poster:hover{

transform: scale(1.2);
transition: 0.3s;

}

#papel{

width: 200px;
height: 200px;
border-radius: 50%;
transition: 0.3s;

}

#papel:hover{

transform: scale(1.2);
transition: 0.3s;

}

section{

width: 100%;
height: 500px;
background-color: #CEFAFE;
display: flex;
justify-content: space-around;
align-items: center;


}



#titular{

font-size: 35px;
position: absolute;
color: #394cf1;
left: 55px;
top: 1100px;
font-family: 'g Gion', sans-serif;

}

#parrafo{

width: 750px;
height: 500px;
font-size: 25px;
position: absolute;
display: flex;
justify-content: space-between;
align-items: center;
left: 50px;
font-family: Vegur, 'PT Sans', Verdana, sans-serif;
text-align: justify;
font-family: 'g Gion', sans-serif;

}



#servicio{

width: 400px;
height: 400px;
border-radius: 30px;
position: relative;
left: 420px;
box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
transition: 0.3s;

}

#servicio:hover{

transform: scale(1.2);
transition: 0.3s;

}


#section3{

width: 100%;
height: 500px;
background-color: #CEFAFE;
display: flex;
justify-content: space-around;
align-items: center;


}


.cajen{

width: 300px;
height: 400px;
background-color: #abe5f1f3;
border-radius: 30px;


}

#proposito1{

width: 200px;
height: 200px;
border-radius: 50%;
position: relative;
left: 50px;
top: 40px;
box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
transition: 0.3s;

}

#proposito1:hover{

transform: scale(1.2);
transition: 0.3s;

}

#proposito2{

width: 200px;
height: 200px;
border-radius: 50%;
position: relative;
left: 50px;
top: 40px;
box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
transition: 0.3s;

}

#proposito2:hover{

transform: scale(1.2);
transition: 0.3s;

}

#proposito3{

width: 250px;
height: 250px;
border-radius: 50%;
position: relative;
left: 25px;
top: 5px;
box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
transition: 0.3s;

}

#proposito3:hover{

transform: scale(1.2);
transition: 0.3s;

}

#pal1{

font-size: 28px;
position: relative;
top: 70px;
left: 60px;
font-family: 'g Gion', sans-serif;

}

#pal2{

font-size: 28px;
position: relative;
top: 80px;
left: 38px;
font-family: 'g Gion', sans-serif;

}

#pal3{

font-size: 28px;
position: relative;
top: 30px;
left: 70px;
font-family: 'g Gion', sans-serif;

}

#section4{

width: 100%;
height: 500px;
background-color: #CEFAFE;
display: flex;
justify-content: space-around;
align-items: center;


}

#conclusion{

width: 800px;
height: 400px;
font-size: 30px;
text-align: justify;
position: relative;
top: 50px;
left: -30px;
font-family: 'g Gion', sans-serif;

}


footer {
  width: 100%;
  background-color: #c4dfe5;
  color: black;
  font-family: Vegur, 'PT Sans', Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.footer-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  width: 300px;
  margin: 10px;
}

.footer-section h3 {
  color: #394cf1;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: 'g Gion', sans-serif;
}

.footer-section p, 
.footer-section a, 
.footer-section li {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-family: 'g Gion', sans-serif;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a:hover {
  color: #00ccff;
  transition: 0.3s;
}

.redes a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.redes a img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  width: 100%;
  text-align: center;
  background-color: #a0cbd8;
  padding: 10px 0;
  font-size: 20px;
  font-family: 'g Gion', sans-serif;
}


@media (max-width: 768px) {

  header {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  nav {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  nav a, .dropbtn {
    font-size: 22px;
  }

  h1 {
    font-size: 30px;
    left: 20px;
    top: 260px;
    text-align: center;
    width: 90%;
  }

  h2 {
    font-size: 26px;
    left: 0;
    text-align: center;
  }

  article {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }

  #circulos1, #circulos2, #circulos3 {
    position: static;
    margin: 10px auto;
  }

  #section2 {
    flex-wrap: wrap;
    height: auto;
    gap: 30px;
    padding: 20px 0;
  }

  section {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }

  #parrafo {
    width: 90%;
    font-size: 20px;
    position: static;
    margin-top: 20px;
  }

  #cajin {
    position: static;
    width: 90%;
    height: auto;
  }

  #servicio {
    width: 100%;
    height: auto;
  }

  #section3 {
    flex-wrap: wrap;
    height: auto;
    gap: 20px;
  }

  #section4 #conclusion {
    width: 90%;
    font-size: 22px;
    left: 0;
    top: 0;
    margin: 0 auto;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

}


@media (max-width: 480px) {

  nav a, .dropbtn {
    font-size: 18px;
  }

  .dropdown-content a {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
    top: 220px;
  }

  h2 {
    font-size: 20px;
  }

  img {
    width: 250px;
    height: 250px;
  }

  .cajon {
    width: 150px;
    height: 150px;
  }

 



  #titular{

   position: relative;
   top: 150px;
   left: 10px;


  }


  #servicio{

   width: 200px;
   height: 200px;
   left: 10px;
   position: relative;
   top: 210px;

  }

  #parrafo {
    font-size: 13px;
    position: relative;
    top: 50px;
    left: 1px;
  }

  #section4 #conclusion {
    font-size: 18px;
  }

  .footer-section {
    width: 100%;
  }

  .redes a img {
    width: 25px;
    height: 25px;
  }
}
